MONGODB_URI =mongodb+srv://jibon123:jibon123@cluster0.4fpzwbt.mongodb.net/earnfromadsbd
NEXT_PUBLIC_SECRET_KEY = app
NEXTAUTH_SECRET = app
NEXTAUTH_URL = https://earnfromadsbd.online
NEXT_PUBLIC_SOCKET_URL =https://api.earnfromadsbd.online